*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
    color: black !important;
}


html, body {
    height: 100%; /* Volle Höhe für Flexbox-Zentrierung */
    margin: 0;    /* Entfernt Standard-Margins */
}


.app {
    background-image: url(./assets/img/hintergrundbild-1.jfif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav {
    height: 120px;
    gap: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}


.nav-logo {
    border-radius: 32px;
    height: 64px;
    width: 64px;
}

.type-logo {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;

}
.type-logo-mini {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    object-fit: cover;
    object-position: center;

}

main {
    width: 100%;
    height: 100%;
    gap: 1rem;
     display: flex;
    justify-content: center;
    align-items: center;
}

.mini-card-img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    object-position: center;
}

.modal-card-img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    object-position: center;
}

.poke-mini-card {
    height: 16rem !important;
    width: 16rem !important;
    color: black !important;
    
}

.poke-mini-card:hover {
    transform: scale(1.1); 
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


th, td, tr {
    padding: 0.25rem !important;
}

.modal-img {
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
}

.tab-content p {
    margin: 0;
}


/* Inaktive Tabs: text-secondary */
.nav-tabs .nav-link {
  color: #6c757d !important; /* Bootstrap's $secondary-Farbe */
  border-color: #78C850 !important;
  /* border: 2px !important; */
} 

/* Aktive Tabs: text-dark */
.nav-tabs .nav-link.active {
  color: #212529 !important; /* Bootstrap's $dark-Farbe */
  border-color: #78C850 !important;
    
  border-bottom: 0 !important;
 

}

