*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}


/* Zentrierungs-Klassen */
.dpf-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}

.dpf-center-x {
    display: flex !important;
    justify-content: center !important;
}

.dpf-center-y {
    display: flex !important;
    align-items: center !important;
}

.dpf-fs-center {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.dpf-fe-center {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
}

.dpf-sb-center {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}




/* Ausrichtungs-Klassen für Flex-Richtung */
.dpf-flex-start {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.dpf-flex-end {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

.dpf-flex-column-center {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Klassen für Flex-Richtung mit Ausrichtung */
.dpf-flex-column-start {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.dpf-flex-column-end {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    align-items: center !important;
}

.dpf-flex-row-start {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.dpf-flex-row-end {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    align-items: center !important;
}